{% extends 'collaborative_crm/base_with_modals.html' %}
{% load staticfiles %}

{% block breadcrumb  %}
    <ol class="breadcrumb">
        <li class="active"><a href="/crm/">Home</a></li>
        {% if not my_properties %}
            <li class="active"><a href="/crm/contactos"><i class="fa fa-users"></i> Todos los contactos</a></li>
        {% else %}
            <li class="active"><a href="/crm/mis_contactos"><i class="fa fa-user"></i> Mis contactos</a></li>
        {% endif %}
    </ol>
{% endblock %}

{% block contentWithoutDefaultModals %}
    <div id="contacts-page" class="{% if not my_contacts %}contacts{% else %}my-contacts{% endif %}">
        <div class="row">
            <div class="col-xs-12">
                <label class="contacts-section-title search">Búsqueda</label>&nbsp;&nbsp;
                <b><a id="reestablish-search" class="small">Restablecer</a></b>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <input id="search-contacts" class="form-control" type="text" placeholder="Buscar...">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <label class="contacts-section-title">Contactos</label>
                <div id="contacts">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block importsWithoutDefaultModals %}
    <!--Template Specific-->
    <link rel="stylesheet" href="{% static 'collaborative_crm/templates/css/contacts.css' %}">
    <script src="{% static 'collaborative_crm/templates/js/contacts.js' %}"></script>
{% endblock %}