<div class="modal fade history-details-modal" id="history-details-modal" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span data-dismiss="modal" aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="history-modal-title">{{entry.html_details_title}}</h4>
            </div>
            <div class="modal-body panel-heading">
                <div class="row">
                    <div class="col-xs-12 body-content" id="history-modal-content">
                        {{entry.html_details_body|safe}}
                    </div>
                </div>
            </div>
            <div class="modal-footer panel-heading">
                <button class="btn btn-default" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>